<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299427653807-h95dnc92v1mbmu3ulhkgv7dss6lv837a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299427653807-h95dnc92v1mbmu3ulhkgv7dss6lv837a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>299427653807-bofpp8jfmk4dcdus3fsd7g2pvmv8u0gn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOWVtkJv71V4tkAa6JaTLbkqf-wEx6oZg</string>
	<key>GCM_SENDER_ID</key>
	<string>299427653807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.runiac.runiacApp</string>
	<key>PROJECT_ID</key>
	<string>runiac-fypp</string>
	<key>STORAGE_BUCKET</key>
	<string>runiac-fypp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299427653807:ios:a7fa7a877c11e43b598c5a</string>
</dict>
</plist>